.fade {
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
}

.short-fade {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fly-in-bottom {
    animation: flyInBottom 2.3s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

@keyframes flyInBottom {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

